config SHIELD_SPLITSIES_DONGLE
    def_bool $(shields_list_contains,splitsies_dongle)

config SHIELD_SPLITSIES_LEFT
    def_bool $(shields_list_contains,splitsies_left)

config SHIELD_SPLITSIES_RIGHT
    def_bool $(shields_list_contains,splitsies_right)
