if SHIELD_SPLITSIES_DONGLE

config ZMK_KEYBOARD_NAME
    default "splitsies"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y
    
config ZMK_USB
    default y

endif

if SHIELD_SPLITSIES_DONGLE || SHIELD_SPLITSIES_LEFT || SHIELD_SPLITSIES_RIGHT

config ZMK_SPLIT
    default y
    
config ZMK_BLE
    default y
   
endif
