if SHIELD_SPLITSIES_CENTRAL

config ZMK_KEYBOARD_NAME
    default "splitsies dongle"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_SPLITSIES_CENTRAL || SHIELD_SPLITSIES_LEFT || SHIELD_SPLITSIES_RIGHT

config ZMK_SPLIT
    default y
    
config ZMK_BLE
    default y

endif
