if SHIELD_SPLITSIES_DONGLE

config ZMK_KEYBOARD_NAME
    default "splitsies"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y
    
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 3
    
config BT_MAX_PAIRED
    default 3

endif

if SHIELD_SPLITSIES_LEFT || SHIELD_SPLITSIES_RIGHT

config ZMK_SPLIT
    default y
   
endif
